.datatable>>>.datatable-row-even {
  background: #f5f5f5;
}

.datatable>>>.datatable-header {
  font-weight: bold;
}

.datatable {
  min-width: 400px;
}

.datatable>>>.datatable-header-cell,
.datatable>>>.datatable-body-cell {
  padding: 5px 5px;
}

.datatable>>>.datatable-body-row {
  cursor: pointer;
}

.datatable>>>.datatable-body-row:first-child {
  border-top: 1px solid #ddd;
}

.datatable>>>.datatable-body-row,
.datatable>>>.datatable-row-detail {
  border-bottom: 1px solid #ddd;
}

.datatable>>>.datatable-body-row.active,
.datatable>>>.datatable-body-row.active:hover,
.datatable>>>.datatable-body-row.active:focus {
  background: #FAC189;
}

.datatable>>>.datatable-body-row:focus {
  background: #EEE;
}

.datatable>>>.datatable-body-row:hover {
  background: #f0f0f0;
}

.datatable>>>.datatable-body-cell-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.datatable>>>.datatable-scroll {
  display: block;
}