ui-switch {
  position: absolute;
  right: 0px;
  margin: 5px;
}

td:first-child {
  text-align: right;
  font-weight: bold;
}

td.invalid {
  color: #d85030;
}

.missing {
  color: #999;
}

td.td-multiline {
  white-space: pre
}

table td {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10px;
}